.footer {
	background: white;

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo {
		padding: 22px 0;

		img {
			transform: translateY(8px);
		}
	}

	.text-p {
		@extend %text-p;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		color: #787878;
		display: flex;
		justify-content: center;
		flex-basis: calc(50% - 140px);
		padding: 0;
	}
}



@media (max-width: 767px) {
	.footer {

		&__row {
			flex-direction: column;
			height: auto;

			.logo {
				order: -1;
			}

			.text-p {
				padding-bottom: 15px;
			}
		}

	}


}
