.about-me {
	 background: #f0f0f0;
}

.page__about-me {
	padding-bottom: 45px;
}

.about-me__row {
	display: flex;
	position: relative;
	background: url("../../img/bg/side_bg_1.jpg") left top / contain no-repeat white;
	@include adaptiv-value("padding", 60, 30, 0);
	z-index: 2;
}

.about-me__column{
	flex: 0 1 48.6%;
}

.about-me__column--b {
	flex: 0 1 51%;
}

.about-me__media {
	height: 100%;
	width: 100%;
}

.about-me__img {
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
	border: 30px solid #f9f9f9;
}

.about-me__content {
	padding: 0 0 0 60px;
}

.about-me__title-h2 {
	@include adaptiv-font(70, 40, 1);
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
	color: #8cb877;
	// padding-bottom: 60px;
	@include adaptiv-value("padding-bottom", 60, 20, 0);
	@include adaptiv-value("padding-top", 30, 10, 0);
}

.about-me__intro {
	font-family: Mulish, sans-serif;
	font-size: 24px;
	line-height: 27px;
	font-weight: 300;
	font-style: italic;
	color: #232323;
	position: relative;
	padding: 20px 0;
	margin-bottom: 50px;

	&:before {
		@include hr-dots($top: 0, $right: 0, $left: 0, $height: 4px);
	}

	&:after {
		@include hr-dots($top: 100%, $right: 0, $left: 0, $height: 4px);
	}
}

.about-me__text {
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
	color: #787878;
	padding-bottom: 25px;
}

.about-me__title-h4 {
	color: $color-accent;
	font-weight: 400;
	@include adaptiv-font(45, 35, 0);
	padding-top: 25px;
}

.about-me__subtitle {
	font-size: 14px;
	line-height: 44px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #499cbb;
}

@media (max-width: 1023px) {

	.about-me__row {
		flex-direction: column;
		padding: 0;
		// background-color: #f2f4f3 !important;
	}

	.about-me__media {
		padding: 125% 0 0 0;
		width: 90%;
		margin: 50px auto -50px;
	}

	.about-me__content {
		background-color: white;
		padding: 100px 30px 30px;
	}

	.about-me__img {
		border: 20px solid #f9f9f9;
	}
}