.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
  }

  &__nav {
    margin: 0 15px;
    &--left {
      justify-content: flex-start;
    }
    &--right {
      justify-content: flex-end;
    }
  }

  &__logo {
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    @include adaptiv-value("margin-left", 33, 16, 0);
    @include adaptiv-value("margin-right", 33, 16, 0);
    line-height: 129px;

    @media (min-width: 1920px) {
      @include adaptiv-value("margin-left", 33, 16, 1);
      @include adaptiv-value("margin-right", 33, 16, 1);
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }

  &__link--current {
  }

  &__icon {
  }
}

.menu {
  &__arrow {
  }
}
.arrow {
}
.sub-menu {
  &__list {
  }

  &__item {
  }

  &__link {
  }
}

.logo {
  display: inline-block;
  width: 269px;
  height: 85px;
  object-fit: cover;
  transform: translate(25px, 8px);
}
.icon-menu {
}
