// services
.page__services {
	padding: 45px 0 45px;
}

.services {
	background: #f0f0f0;

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		flex-basis: 33.333%;
		margin: 0 15px;
	}

	&__item--left {
		margin-left: 0;
	}

	&__item--right {
		margin-right: 0;
	}

	&__header {
		padding: 0 0 66.5% 0;
	}

	&__body {
		@include adaptiv-value("padding", 50, 20, 0);
		text-align: center;
		height: 100%;

		&--left {
			background: url("../../img/texture/texture_color_4.jpg") center / cover no-repeat;
		}

		&--center {
			background: url("../../img/texture/texture_color_2.jpg") center / cover no-repeat;
		}

		&--right {
			background: url("../../img/texture/texture_color_3.jpg") center / cover no-repeat;
		}

	}

	&__divider {
		width: 75px;
		height: 18px;
		background-image: url("../../img/icons/icon-divider.png");
		background-color: transparent;
		margin: 15px auto;
		border: none;
	}

	&__title {
		@include adaptiv-font(35, 30, 1);
		line-height: 35px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
	}

	&__text {
		opacity: 0.74;
		font-size: 18px;
		line-height: 27px;
		font-weight: 300;
		color: #ffffff;
	}

	&__footer {
		padding: 20px 55px;
		background-color: #ffffff;
		text-align: center;

		&--left {
			border-bottom: 5px solid #53963e;

			a {
				color: #53963e;
			}
		}

		&--center {
			border-bottom: 5px solid #7f3c6c;

			a {
				color: #7f3c6c;
			}
		}

		&--right {
			border-bottom: 5px solid #3394b6;

			a {
				color: #3394b6;
			}
		}

	}

	&__link {
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;

		&:hover {
			opacity: .7;
		}
	}

}

@media (max-width: 1023px) {

	.services {
		&__row {
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&__item {
			flex-basis: 50%;
			margin: 0 0 30px 0;
			flex-grow: 1;

			&--left {
				padding-right: 15px;
			}

			&--center {
				padding-left: 15px;
			}
		}
	}

}

@media (max-width: 767px) {
	.services__item {
		flex-basis: 100%;

		&--left, &--center {
			padding: 0;
		}
	}
}